# Server Configuration
SERVER_URL=http://localhost:6666
SERVER_PORT=6666

#Bot api key
BOT_API_KEY=sitquierediveltil

# MySQL Database configuration
MYSQL_HOST=laip
MYSQL_PORT=3306
MYSQL_USER=eluser
MYSQL_PASSWORD=laclave
MYSQL_DATABASE=nombredeladb

#Claves JWT
JWT_SECRET=inventatealgobueno
WEB_JWT_SECRET=nventatealgobueno
PC_JWT_SECRET=nventatealgobueno